@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;1,300&display=swap');

*{
    padding: 5px;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100%;
    width: 98%;
    background: linear-gradient(#e2b190,#c2df90,#74c8ba);
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

div{
    height: 50px;
    text-decoration: none;
}

.ed-qual{
    display: flex;
    justify-content: space-evenly;
}


.contact-sec{
    display: flex;
    justify-content: space-evenly;
}